@model TailgateLive .Models .CommentSearchResultModel 
@{
    ViewBag.Title = "CommentSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CommentSearch</h2>
@using (Html.BeginForm("CommentSearch","User","Event"))
{
    <div class="form-horizontal">
        <div class="form-group">
            <h5 class="col-md-2 control-label"><b>UserId</b></h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <h5 class="col-md-2 control-label"><b>EventId</b></h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EventId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="checkbox" > i like this person's Event
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default"value="CommentSearch" />
                </div>
            </div>
        </div>
</div> 

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>EventCommentsSearchView</h2>

<dt>
    @Html.DisplayNameFor(model => model.Comments)
</dt>
@foreach (var item in Model.List_Commments)
{
    <dd>

        @Html.DisplayNameFor(model => model.UserName)

        @Html.DisplayFor(modelItem => item.Comments)
    </dd>
}
