@model TailgateLive.Models.CommentSearchModel

@{
    ViewBag.Title = "CommentSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CommentSearch", "Comments"))
{

    @Html.HiddenFor(model => model.EventId)

    if (Model.List_Commments != null)
    {
        <h2>@Html.DisplayFor(model => model.EventTitle)</h2>
        <h4>@Html.DisplayFor(model => model.EventComments)</h4>

        <div>
            <div class="container">
                        <div class="row">
                            <div class="col-xs-3">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.gameDate)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.gameDate)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.gameWeek)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.gameWeek)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.gameTimeET)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.gameTimeET)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-xs-3">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.homeTeam)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.homeTeam)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.awayTeam)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.awayTeam)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.stadium)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.stadium)
                                    </dd>
                                    @*<dd>
                                        <img src=@Html.DisplayFor(model => model.domeImg) alt="" />
                                    </dd>*@
                                </dl>
                            </div>
                            <div class="col-xs-3">
                                <dl class="dl-horizontal">
                                    @*<dt>
                                        @Html.DisplayNameFor(model => model.geoLat)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.geoLat)
                                    </dd>*@
                                    <dt>
                                        @Html.DisplayNameFor(model => model.low)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.low)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.high)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.high)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.forecast)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.forecast)
                                    </dd>
                                    <dd>
                                        <img src=@Html.DisplayFor(model => model.largeImg) alt="" />
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-xs-3">
                                <dl class="dl-horizontal">
                                    @*<dt>
                                    @Html.DisplayNameFor(model => model.isDome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.isDome)
                                </dd>*@
                                    @*<dt>
                                        @Html.DisplayNameFor(model => model.geoLong)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.geoLong)
                                    </dd>*@
                                    <dt>
                                        @Html.DisplayNameFor(model => model.windChill)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.windChill)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.windSpeed)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.windSpeed)
                                    </dd>
                                    @*<dt>
                                        @Html.DisplayNameFor(model => model.domeImg)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.domeImg)
                                    </dd>*@
                                    @*<dt>
                                        @Html.DisplayNameFor(model => model.largeImg)
                                    </dt>*@
                                </dl>
                            </div>
                            <div class="col-xs-2"> @Html.ActionLink("See Map!!!!!", "GoMap", new { id = Model.EventId }) </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h5 class="col-md-2 control-label" style="font-size: 20px;">
                        <p>Your Comment about Event: </p>
                    </h5>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CommentString, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CommentString, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="SaveComment" />
                    </div>
                </div>

                <h2>Comments about the Event</h2>
                <table class="table">
                    <tr>
                        @*<th>
                        @Html.DisplayNameFor(model => model.EventTitle)
                    </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments)
                        </th>

                    </tr>
                    @foreach (var item in Model.List_Commments)
                    {
                        <tr>
                            @*<td>
                            @Html.DisplayFor(model => model.EventTitle)
                        </td>*@
                            <td>
                                @Html.DisplayFor(model => item.User.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>

                        </tr>
                    }
                </table>
                }

                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }


                @*@if(Model.List_Commments != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.List_Commments)
                </dt>

                foreach (var item1 in Model.List_Commments)
                {
                    <dd>
                        @Html.DisplayFor(model => model.UserName)

                        @Html.DisplayFor(modelItem => item1.Comments)
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.EventTitle)
                </dt>


                   <dd>
                        @Html.DisplayFor(modelItem => Model.EventTitle)
                    </dd>


            }*@




                @*<table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EventTitle)
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.EventTitle)
                    </td>

                </tr>
            </table>*@
